<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Belle Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Java Belle Menu</h1>
    <ul>
        <% menuItems.forEach(item => { %>
            <li><%= item.name %> - $<%= item.price %> - <%= item.description %></li>
        <% }); %>
    </ul>
</body>
</html>
