<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Menu Item</title>
</head>
<body>
    <h1>Update Menu Item</h1>
    <form action="/api/menu/:id?_method=PUT" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="Description">Description: </label>
        <textarea id="text" name="description" required></textarea><br><br>
        <label for="price">Price: </label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>
        <label for="availability">Availability: </label>
        <input type="checkbox" id="availability" name="availability" checked><br><br>
        <button type="submit">Update Item</button>
    </form>
</body>
</html>